
.logobx{
    width: 200px;
}

nav {
    background-color: $blanc;
    height: 148px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}
.nav-container{
    max-width: 1200px;
   margin-left: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.logo{
    font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
 
}
.nav-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-menu li{
    margin-right: 20px;
    

}

.nav-menu li a{
    color: $noir; 
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0 40px;
}
.search-form {
    display: flex;
    margin-right: 40px;
  }
  search-form input[type="text"] {
    
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 5px 0 0 5px;
  }
  .search-form button {
    background-color: $dore;
    height: 30px;
    width: 50px;
    border: none;
    color: $dore;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
   
  }
  
  .nav-buttons {
    display: flex;
    padding-left: 50px;
  }
  
  .connexion {
    background-color:$dore;
    border: solid;
    padding-left: 500px;
    color:$blanc;
    padding: 10px;
    font-size: 1.3rem;
    cursor: pointer;
   }
   .inscription{
    background-color: $noir;
    color: $blanc;
    margin-left: 30px;
   }
